* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

.main {
    background-image: url(https://assets.nflxext.com/ffe/siteui/vlv3/ca6a7616-0acb-4bc5-be25-c4deef0419a7/c5af601a-6657-4531-8f82-22e629a3795e/IN-en-20231211-popsignuptwoweeks-perspective_alpha_website_large.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1400px, 100vw);
    height: 70vh;
    position: relative;
}

.main .box {
    height: 70vh;
    width: 100%;
    opacity: 0.34;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    display: flex;
    max-width: 80vw;
    margin: auto;
    justify-content: space-between;
    /* justify-items: center; */
    align-items: center;
    height: 60px;
    position: relative;
    z-index: 10;
}

nav img {
    color: red;
    width: 120px;

}

.hero {
    padding: 20px;
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    color: white;
    position: relative;
    /* z-index: 10; */
    text-align: center;
}

.hero h1 {
    /* font-weight: ; */
    font-size: 40px;
}

.hero h2 {
    font-size: 25pxh;
}

.hero h3 {
    font-size: 15px;
}



.hero input {
    padding: 3px 8px;
    background-color: black;
    opacity: 0.7;
    border: 2px solid white;
    color: white;
}

.btn {
    padding: 3px 8px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.014);
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.329);
    border-radius: 5px;
    cursor: pointer;
}

.btn-red {
    background-color: red;
    border: none;
    color: white;
    box-sizing: border-box;
}

.btn-white {
    padding: 3px 8px;
    font-weight: bold;
    border-radius: 5px;
}

.seperation {
    position: relative;
    z-index: 11;
    height: 1vh;
    background-color: bisque;
    opacity: 50%;
}

.first {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    max-width: 70vw;
    margin: auto;
}

.first img {
    /* align-items: center; */
    /* justify-content: center; */
    /* width: 30vw; */
    width: 400px;
    position: relative;
    z-index: 10;
}

.first video {
    /* width: 26vw; */
    width: 350px;
    top: 50px;
    right: 0;
    position: absolute;
}

.second {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    max-width: 70vw;
    margin: auto;
}

.second img {
    /* align-items: center; */
    /* justify-content: center; */
    width: 30vw;
    position: relative;
    z-index: 10;
}




.third {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    max-width: 70vw;
    margin: auto;
}

.third img {
    /* align-items: center; */
    /* justify-content: center; */
    width: 400px;
    position: relative;
    z-index: 10;
}

.third video {
    width: 250px;
    top: 50px;
    right: 75px;
    position: absolute;
}

.fourth {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    max-width: 70vw;
    margin: auto;
}

.fourth img {
    /* align-items: center; */
    /* justify-content: center; */
    width: 30vw;
    position: relative;
    z-index: 10;
}

@media screen and (max-width:1000px) {
    .content{
        padding-top: 20px;
        padding-bottom: 20px;
        text-align: center;
    }

    .content h1 b{
        font-size: 30px;
    }
    /* .content h5 {
        font-size: 25px;
    } */
    .first , .second , .third , .fourth {
        flex-wrap: wrap;
    } 
    .faq h1{
        text-align: center;
    }
    .second img{
        width: 300px;
    }
    .fourth img{
        width: 300px;
    }
    
}


.content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.content h1 {
    font-size: 4vw;
}

.content h5 {
    font-size: 10px;
}

.secimg {
    position: relative;
    align-items: center;
    justify-content: center;
}

.faq{
    padding: 20px;
    color: white;
    display: flex;
    gap: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.faq h1{
    font-size: 50px;
}

.question{
    /* transition: all 0.2s ease-out; */
    font-size: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.Q{
    transition: all 0.5s ease-out;
    width: 60vw;
    padding: 10px 40px;
    border-radius: 10px;
    /* border: 2px solid rgba(255, 255, 255, 0.308); */
    background-color: rgba(128, 128, 128, 0.582);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Q:hover{
    background-color: red;
}

footer{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: centre;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.end{padding: 20px;
    color: white;
}

.toggles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 80vw;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: auto;
    gap: 10px;
}

.toggles a:hover{
    color: red;
}

.toggles a {
    color: white;
    text-align: center;
}